body{
  background-color: rgb(51, 83, 42);
  display: flex;
  flex-direction: column;
}

.containerFlexRow{
  display: flex;
  flex-direction: row;
}

#nameAndPic{
  margin-left: 2%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mainImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

nav{
  margin-left: auto;
  margin-right: 2%;
}
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 14%;
  gap: 20px;
}
nav ul li a{
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  text-decoration: none;
}